<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{#insert title}geneseq - 1.0-SNAPSHOT{/}</title>
    <link rel="icon" type="image/png" href="/META-INF/resources/favicon.png">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css"/>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
<body class="mui-container">
<div class="mui-appbar">
    <img src="/favicon.png" alt="Test">
    <div>
        <a href="/sequences">Sequences</a>
    </div>

</div>
{#insert content}Empty page{/}
</body>
</html>